.container{
    display: flex;
    justify-content: center; /*  Centra las tarjetas horizontalmente*/
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 4.6rem; /* Agrega un margen superior de 4 rem para hacer espacio */
    margin-left: 100px; /* Margen izquierdo de 20px */
    margin-right: 100px; /* Margen derecho de 20px */
    margin-bottom: 20px;
    color: rgba(58, 98, 50, 0.697);

}
body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Poppins", sans-serif; }

/* Estilos para el contenedor principal */
.container {
    background-color: #f8f9fa;
    padding: 30px;
  }
  
  /* Estilos para la clase "row" con "align-items-center" */
  .rowAlignCenter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinea el contenido horizontalmente en el centro */
    align-items: center; /* Alinea verticalmente los elementos al centro */
  }
  
  /* Estilos para la columna izquierda */
  .columnLeft {
    flex: 1;
    padding: 30px;
    background-color: #fff;
    border-right: 1px solid #dee2e6;
  }
  
  /* Estilos para la columna derecha */
  .columnRight {
    flex: 1;
    padding: 30px;
    background-color: #f8f9fa;
  }

  /* Estilos para campos de entrada inspirados en Google usando CSS Modules */
.inputContainer {
    position: relative;
    margin-bottom: 20px;
  }
  
  .label {
    position: absolute;
    top: 10px;
    left: 0;
    transition: all 0.2s ease-in-out;
    color: #999; /* Color del texto de etiqueta */
  }
  
  .input {
    width: 100%;
    padding: 10px 0; /* Añadimos espacio solo en la parte superior e inferior */
    font-size: 16px;
    border: none; /* Quitamos el borde */
    border-bottom: 1px solid #ccc; /* Línea inferior */
    background-color: transparent; /* Fondo transparente */
    transition: all 0.2s ease-in-out;
    color: blue;

  }
    
  .input:focus {
    outline: none;
    border-color: #4285f4; /* Color del borde al enfocar */
  }
  
  .input:focus + .label {
    top: -5px;
    font-size: 12px;
    color: #4285f4; /* Color del texto de etiqueta al enfocar */
  }
  input::placeholder {
    opacity: 0.5;
    color: rgb(47, 46, 46);
  }
  .multiselect {
    max-height: 100px; /* Establece la altura máxima deseada */
    overflow-y: scroll; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  