/* Home.module.css */
/* Home.module.css */
.home {
  width: 100%; /* Asegura que el componente ocupe todo el ancho disponible */
  min-height: 100vh; /* Asegura que el componente ocupe al menos toda la altura de la pantalla */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('../src/image/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Cambiado a min-height */
  display: flex;
  flex-direction: column; /* Para asegurarse de que el contenido esté centrado */
  }

  .spanPaginador {
    color: white;
    text-align: center;
    display: inline-block; 
    vertical-align: middle;  
    line-height: normal; /* Esto es necesario para centrar verticalmente */
  }

.buttonArrow {
    background: transparent;
    border: 0;
    outline:0;
  }

.buttonArrow:hover polyline,
.buttonArrow:focus polyline {
  strokeWidth : 3;
}

.buttonArrow:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}


  /* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  