/* WaveInput.module.css */
.wave-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  justify-content: center;
  align-items: center;

}

.input {
  font-size: 36px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 500px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
  text-align: center; /* Centrar el texto horizontalmente */

}

.input:focus {
  outline: none;
}

.label {
  color: #999;
  font-size: 38px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: center;
  top: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  justify-content: center; /* Centrar el contenido horizontalmente */

}

.label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * 0.05s);
}

.input:focus ~ .label .label-char,
.input:valid ~ .label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #c6cdea;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #bcc1d6;
  transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before,
.input:focus ~ .bar:after {
  width: 50%;
}
