/* Estilo básico para la barra de continentes */
.home {
    text-align: center;
}

.continentsBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #253625;
    height: 40px;
    width: 100%;
    position: absolute; 
    bottom: 0; /* La fija en la parte inferior */
}




.continent-button {
  padding: 10px 20px;
  background-color: #848b92;
  color: #fff;
  border: none;
  cursor: pointer;
}

.resaltado {
  background-color: #ff5722;
}




.botonContinent {
    background: none;
    border: none;
    border-radius: 10px;
}
.botonContinentChecked {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 10px;
}
.botonContinentChecked span {
  color: white;
}


.botonContinent span {
  color: white;
}

.orderButtons span {
  color: white;
}

.botonContinent:hover {
    background: rgba(170, 170, 170, 0.062);
    transition: 0.5s;
}


/* Estilo para los botones de orden */
.orderButtons {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Espacio entre los botones de continentes y orden */
    margin-inline-start: auto;

  }
  
  .orderButtons button {
    background: none;
    border: none;
    margin-left: 10px; /* Espacio entre los botones de orden */
  }
  
  .orderButtons button:hover {
    background: rgba(170, 170, 170, 0.062);
    transition: 0.5s;
  }
  