/* Navbar.module.css */
.navbar {
  background-color: #253625;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  }
  .buttonNav{
    margin-left: 20px;
    font-weight: 300px;
    }
